#shelfTop{
    -fx-background-image: url("../images/shelf_top.jpeg");
}

#shelfTop:hover {
    -fx-background-image: url("../images/shelf_top_hover.jpeg");
}

#shelfMiddle{
    -fx-background-image: url("../images/shelf_middle.jpeg");
}

#shelfMiddle:hover {
    -fx-background-image: url("../images/shelf_middle_hover.jpeg");
}

#shelfBottom{
    -fx-background-image: url("../images/shelf_bottom.jpeg");
}

#shelfBottom:hover {
    -fx-background-image: url("../images/shelf_bottom_hover.jpeg");
}

/*.scroll-bar{*/
/*    -fx-background-color: black;*/
/*}*/