#navigationButton {
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: black;
}

#navigationButton:hover {
    -fx-background-color: rgba(255, 255, 255, 0.25);
}

#firstChart .chart-series-line.series0,
#firstChart .chart-line-symbol.series0 {
    -fx-stroke: blue;
    -fx-background-color: blue;
}

#firstChart .chart-series-line.series1,
#firstChart .chart-line-symbol.series1 {
    -fx-stroke: red;
    -fx-background-color: red
}

#firstChart .chart-plot-background{
    -fx-background-color: #e2ecfe;
    -fx-background-image: url("../images/shelf/wood_background.jpg");

}

#firstChart .chart-vertical-grid-lines{
    -fx-stroke: #0a2767
}

#firstChart .chart-horizontal-grid-lines{
    -fx-stroke: transparent;
}





